#tudo{
    width: 900px;
    margin: auto;
}


#menu{
    background-color: darkred;
    color: aliceblue;
    text-align: center ;
    text-transform: uppercase;
     font-weight: 500;
font-size: 40px
    
}
#corpo{
font-size: 35px;
background-color: darkred;
text-align: center;
color: aliceblue;
}
  
#lista{
color: aliceblue;
font-size: 25px;
text-align: left;
}
body{
    background-color: darkred;
}
img{
    width: 700px
    }

    h4{
font-size: 30px;
background-color: antiquewhite;
 text-align: center
}
p{
    font-size: 30px;
    background-color: darkred;
    color: aliceblue;
}
  p{
    font-size: 30px;
  }